<!--
 * @Author: 大侠传授两招吧
 * @Date: 2021-10-01 16:27:24
 * @LastEditors: 大侠传授两招吧
 * @LastEditTime: 2021-10-08 16:50:35
 * @Description: 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
</head>
<body>
    <h1>Hello Webpack</h1>
    <div class="loading">
        <div class="loading-circle"></div>
        <div class="loading-circle animate"></div>
    </div>
     <!-- <title><%= htmlWebpackPlugin.options.title %></title> --> <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <img src="./src/assets/images/img1.jpg" alt="图片1">
    <div class="page"></div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
</body>
</html>